{# <td class="esd-stripe" align="center">
	<table class="es-header-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
		<tbody>
			<tr>
				<td class="es-p20t es-p20r es-p20l esd-structure" align="left">
					<table cellspacing="0" cellpadding="0" width="100%">
						<tbody>
							<tr>
								<td class="esd-container-frame" width="560" align="left">
									<table width="100%" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td align="center" class="esd-block-image" style="font-size: 0px;">
													<a target="_blank">
														<img class="adapt-img" src="https://dooqnr.stripocdn.email/content/guids/CABINET_34d49e524e73237bc5633dd88f6bd46e6d5ece79b24c15d2b8e2a67100185c58/images/img_5399.jpg" alt style="display: block;" width="200">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</td> #}

<td class="esd-stripe" align="center">
	<table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
		<tbody>
			<tr>
				<td class="es-p20t es-p20r es-p20l esd-structure" align="left">
					<table width="100%" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td class="esd-container-frame" width="560" valign="top" align="center">
									<table width="100%" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td class="esd-block-html esdev-disable-select">
													<table style="width: 100%; font-family: 'Verdana'; font-size: 12px;">
														<tbody>
															<tr>
																<td style="border: 1px solid black; padding: 10px; width: 50%">Piscine</td>
																<td style="border: 1px solid black; padding: 10px;">{{ pool }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Dimensions</td>
																<td style="border: 1px solid black; padding: 10px;">{{ size }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Profondeur</td>
																<td style="border: 1px solid black; padding: 10px;">{{ proof }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Équipement</td>
																<td style="border: 1px solid black; padding: 10px;">{{ equip }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Filtrations</td>
																<td style="border: 1px solid black; padding: 10px;">{{ filter }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Revêtement</td>
																<td style="border: 1px solid black; padding: 10px;">{{ revet }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Couleur</td>
																<td style="border: 1px solid black; padding: 10px;">{{ color }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Sécurité</td>
																<td style="border: 1px solid black; padding: 10px;">{{ security }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">
																	<b>PRIX TOTAL</b>
																</td>
																<td style="border: 1px solid black; padding: 10px;">
																	<b>{{ price }}</b>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="esd-container-frame" width="560" valign="top" align="center">
									<table width="100%" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td class="esd-block-html esdev-disable-select">
													<table style="width: 100%; font-family: 'Verdana'; font-size: 12px; margin-top: 2rem;">
														<tbody>
															<tr>
																<td style="padding: 10px; font-size: 16px; text-align: center;" colspan='2'>
																	<strong>Coordonnées</strong>
																</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px; width: 50%">Nom</td>
																<td style="border: 1px solid black; padding: 10px;">{{ nom }}</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">E-Mail</td>
																<td style="border: 1px solid black; padding: 10px;">
																	<a href="mailto:{{ mail }}">{{ mail }}</a>
																</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;">Téléphone</td>
																<td style="border: 1px solid black; padding: 10px;">
																	<a href="tel:{{ tel }}">{{ tel }}</a>
																</td>
															</tr>
															<tr>
																<td style="border: 1px solid black; padding: 10px;" colspan='2'>{{ message }}</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</td>
