{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="block">
        <h2>{{ title }}</h2>
        <article>
            <h3>Formulaire d'ajout</h3>
            <p><em>* Champs obligatoires</em></p>
            {{ form(form) }}
        </article>
    </section>
    <hr>
    <section class="block">
        <h2>Liste des accessoires</h2>
        <div class="grid">
        {% for esc in escs %}
            <article class="block-item">
                <a href="{{ path('app_acc_delete', { id: esc.id }) }}">
                    <img src="{{esc_img_dir}}/{{ esc.image }}" alt="{{ esc.nom }}" class="item-image">
                    <p class="item-title">
                        {% set types = ["Petit bain", "Escalier", "Échelle", "SPA à débordement", "Alarme volumétrique", "Couverture de sécurité", "Barrière normalisée"] %}
                        {% set colors = ["", " Blanc", " Bleu", " Vert", " Turquoise"] %}
                        {% set type = types[esc.type] ?? "Type inconnu" %}

                        {{ type }} - {{ esc.nom }}<br />
                        {{ esc.prix | number_format(2, '.', ',') }} €
                    </p>
                </a>
                
            </article>
        {% endfor %}
        </div>
    </section>
{% endblock %}