{% extends 'admin.html.twig' %}

{% block title %}Gestion des piscines{% endblock %}

{% block body %}
<section class="block">
    <h2>Gestion des piscines</h2>
    <div class="tab-container">
        <div class="tabs tabs-btn">
            <li class="tab active">Formes de piscine</li>
            <li class="tab">Liste des piscines</li>
            <li class="tab">Liste des filtrations</li>
        </div>
        <div class="tab-panes">
            <div id="formes" class="tab-pane active">
                <a class="btn-link float-right" href="{{ path('app_create_form') }}">Créer une forme</a>
                <h3>Formes de piscines</h3>
                {% for forme in formes %}
                    <div class="line">
                        <p>{{ forme.nom }}</p>
                        <ul>
                            <li><a href="{{ path('app_update_form', { id: forme.id }) }}">Modifier</a></li>
                            <li>Supprimer</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div id="piscines" class="tab-pane">
                <a class="btn-link float-right ml" href="{{ path('app_create_piscine') }}">Créer une piscine</a>
                <h3>Liste des piscines</h3>
                {% for piscine in piscines %}
                    <div class="line">
                        <div class="item">
                            <figure class="thumb">
                                <img src="{{piscines_img_dir}}/{{ piscine.image }}" alt="{{ piscine.nom }}">
                            </figure>
                            <p>{{ piscine.nom }} - <em>{{ piscine.forme.nom }}</em></p>
                        </div>
                        <ul>
                            <li><a href="{{ path('app_update_piscine', { id: piscine.id }) }}">Modifier</a></li>
                            <li><a href="{{ path('app_dims', { id: piscine.id }) }}">Dimensions</a></li>
                            <li><a href="{{ path('app_esc_bain', { id: piscine.id }) }}">Accessoires</a></li>
                            <li><a href="{{ path('app_colors', { id: piscine.id }) }}">Couleurs</a></li>
                            <li>Supprimer</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div id="filtrations" class="tab-pane">
                <a class="btn-link float-right ml" href="{{ path('app_create_filter') }}">Créer une filtration</a>
                <h3>Liste des filtrations</h3>
                {% for filt in filters %}
                    <div class="line">
                        <p>{{ filt.nom.nom }} - {{ filt.tailles.taille }}</p>
                        <ul>
                            <li>Modifier</li>
                            <li>Supprimer</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
